$primary: #4f78f4;
$danger: #CC3E28;
$border-radius: 0.4rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.4rem;
$success: #06A77D;
$info: #5A9DF3;
$secondary: #3AB1E0;
$warning: #EEB044;
$border-width: 2px;
$alert-padding-x: 0.4rem;
$alert-padding-y: 0.4rem;
$alert-border-level: -1;
$spacer: 1rem;
$card-spacer-x: $spacer;
$card-spacer-y: $spacer;
$body-bg: #f4f5f8;
