<ng-container *ngIf="sortedItems.length > 0; else elseTemplate">
    <div class="p-mb-5" *ngFor="let item of sortedItems">
        <p-fieldset>
            <ng-template pTemplate="header">
                <h2>{{ item.institution.name }}</h2>
            </ng-template>

            <div *ngFor="let account of item.accounts; let i = index">
                <h3>{{ account.name}}</h3>
                <h5>{{ account.subtype }}</h5>
                <p-divider *ngIf="i < item.accounts.length - 1"></p-divider>
            </div>
        </p-fieldset>
    </div>

</ng-container>
<ng-template #elseTemplate>
    <app-empty-accounts-list></app-empty-accounts-list>
</ng-template>
