<div class="d-flex align-items-center justify-content-between px-3">
    <div class="d-flex align-items-center">
        <span class="circle circle-primary mr-2"></span>
        <small class="text-muted mr-2">Personal:</small>
        <strong>${{ personalContributionTotal }}</strong>
    </div>
    <div class="d-flex align-items-center">
        <span class="circle circle-info mr-2"></span>
        <small class="text-muted mr-2">Employer:</small>
        <strong>${{ employerContributionTotal }}</strong>
    </div>
    <div class="d-flex align-items-center">
        <span class="circle circle-secondary mr-2"></span>
        <small class="text-muted mr-2">Interest:</small>
        <strong class="font-weight-bold">${{ interestContributionTotal }}</strong>
    </div>
</div>
