<div class="p-3 d-flex align-items-center justify-content-between">
    <h3 class="mb-0">Accounts</h3>
    <app-add-account-button></app-add-account-button>
</div>

<div>
    <div class="px-3 pb-4 pt-2 d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Net Worth</h5>
        <h5 class="mb-0">{{ accountsHolder.netWorth | currency }}</h5>
    </div>

    <div *ngFor="let accountType of accountsHolder.accountTypes">
        <div class="px-3 py-2 d-flex align-items-center justify-content-between bg-light">
            <h5 class="mb-0">{{ accountType.title }}</h5>
            <strong>{{ accountType.balance | currency }}</strong>
        </div>
        <div class="px-3">
            <div class="mb-2">
                <ul class="list-group list-group-flush pt-2">
                    <li class="px-2 py-1 list-group-item border-0" *ngFor="let account of accountType.accounts">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <small class="font-weight-bold">{{ account.name }}</small>
                                <small class="text-muted">{{ account.subtype }}</small>
                            </div>
                            <small class="font-weight-bold">{{ account.balances.current | currency }}</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="accountsHolder?.accounts.length == 0">
    <div class="alert alert-info">Add your first account!</div>
</div> -->
