<div class="p-5 d-flex justify-content-center align-items-center">
    <div>
        <!-- <app-onboarding-complete-message *ngIf="onboardingO.completed" class="d-block mb-5"></app-onboarding-complete-message>
        <app-onboarding-saving *ngIf="onboardingO.saving" class="d-block mb-5"></app-onboarding-saving>
        <app-onboarding-question-chooser *ngIf="!onboardingO.saving && !onboardingO.completed" [onboardingO]="onboardingO" class="d-block mb-5 w-100"></app-onboarding-question-chooser>
        <app-onboarding-navigation-buttons *ngIf="onboardingO.answeringQuestions" class="d-block mb-5" [onboardingO]="onboardingO"></app-onboarding-navigation-buttons>
        <div style="max-width: 400px; width: 100%">
            <app-onboarding-progress [onboardingO]="onboardingO"></app-onboarding-progress>
        </div> -->
        <h3 class="mb-1">Welcome</h3>
        <h6 class="mb-2">You're currently onboarding</h6>
        <p class="mb-4">There are no items required to be completed.</p>
        <button class="btn btn-primary" (click)="onCompleteOnboarding()" [disabled]="completing">Complete Onboarding</button>
    </div>
</div>
