<form class="d-flex flex-column align-items-stretch" [formGroup]="registerForm" (submit)="onRegister()">
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" formControlName="name">
    </div>

    <div class="form-group">
        <label for="emailAddressInput">Email address</label>
        <input #email type="email" class="form-control" id="emailAddressInput" formControlName="email">
    </div>

    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" formControlName="password">
    </div>

    <div class="alert alert-danger" *ngIf="hasError">
        {{errorMessage}}
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="disableButton">Register</button>
</form>
