<div class="py-3 py-md-5 bg-white h-100">
    <div class="d-flex align-items-start container-sm px-3 px-md-4">
        <div class="flex-fill">
            <small class="d-block mb-3 text-primary">Retirement Planner</small>

            <app-retirement-status-displayer></app-retirement-status-displayer>

            <app-retirement-stats-displayer class="d-block pt-4 mb-5"></app-retirement-stats-displayer>

            <app-contribution-totals class="d-block mb-2"></app-contribution-totals>

            <app-contributions-chart></app-contributions-chart>
        </div>

        <div class="ml-sm-3 d-flex flex-column" style="min-width: 300px">
            <app-goal-section class="mb-3"></app-goal-section>
            <app-assumptions-section></app-assumptions-section>
        </div>

    </div>
</div>
